<div>
    <h2>Admin Inventory</h2>
    <button (click)="addProduct()">Add Product</button>
    <button (click)="addLocation()">Add Location</button>
    <div *ngIf="products && products.length > 0">
      <h3>Products:</h3>
      <ul>
        <li *ngFor="let product of products">
          {{ product.name }} - {{ product.price }}
          <button (click)="editProduct(product.id)">Edit</button>
          <button (click)="deleteProduct(product.id)">Delete</button>
        </li>
      </ul>
    </div>
    <div *ngIf="locations && locations.length > 0">
      <h3>Locations:</h3>
      <ul>
        <li *ngFor="let location of locations">
          {{ location.name }} - {{ location.address }}
          <button (click)="editLocation(location.id)">Edit</button>
          <button (click)="deleteLocation(location.id)">Delete</button>
        </li>
      </ul>
    </div>
  </div>
  