<div class="product-add">
    <h2>Add Product</h2>
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <label for="codigo">Code</label>
      <input id="codigo" formControlName="codigo" type="text">
  
      <label for="categoria">Category</label>
      <input id="categoria" formControlName="categoria" type="text">
  
      <label for="descripcion">Description</label>
      <input id="descripcion" formControlName="descripcion" type="text">
  
      <label for="descripcionDetallada">Detailed Description</label>
      <input id="descripcionDetallada" formControlName="descripcionDetallada" type="text">
  
      <label for="marca">Brand</label>
      <input id="marca" formControlName="marca" type="text">
  
      <label for="precio">Price</label>
      <input id="precio" formControlName="precio" type="text">
  
      <label for="foto">Photo</label>
      <input id="foto" type="file" (change)="onFileChange($event)">
  
      <button type="submit">Add Product</button>
    </form>
  </div>
  